body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #00a0a0;
  --fontFamily: Arial, sans-serif;
  --secondry-color: #f2f2f2;
  --dark-primary-color: #000000;
  --dark-secondry-color: #e2c20d;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: var(--secondry-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border: 2px solid var(--secondry-color);
  border-radius: 25px;
  height: 4px;
}

::-webkit-scrollbar-button {
  display: none;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 10%;
}

header {
  background-color: white;
  box-shadow: 0px 0px 15px rgb(144 210 211);
  display: flex;
  flex: 3;
  width: 100vw;
  height: 10vh;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  z-index: 1;
  .bookimage {
    /* border: 3px solid black; */
    display: flex;
    flex: 1;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    img {
      height: 50%;
    }
  }
  .menu {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex: 1;
    ul {
      width: 100%;
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      justify-content: space-around;
      li{
          a{
              text-decoration: none;
            color: var(--dark-primary-color);
          }
      }
    }
  }
  .icons {
    height: 100%;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }
  #menu-icon {
    display: none;
    margin: 0px 10px;
    background-color: inherit;
    border: none;
  }
  @media screen and (max-width: 468px) {
    .menu {
      display: none;
    }
    #menu-icon {
      display: block;
    }
  }
}

.mobile-menu {
  position: fixed;
  ul {
    height: 100vh;
    list-style: none;
    align-content: center;
    padding: 0px;
    li {
      padding-top: 15px;
  
          a{
              text-decoration: none;
            color: var(--dark-primary-color);
          }
      
    }
  }
  z-index: 10000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(240, 248, 255, 0.055);
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(10px); 
  #close-menu {
    position: relative;
    top: 10vh;
    left: 40vw;
    background-color: inherit;
    border: none;
  }
}
.hidden {
  display: none;
}

/* -------------------------------------------------------------------------------------------------------------------------------- */
.welcome {
  position: relative;

  width: 100%;
  height: 100vh;
  display: flex;
  flex: 2;
  background-image: url("image/about.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.9);
  background-blend-mode: lighten;
  .welcome-text {
    flex: 1;
    align-content: center;
    padding: 10vh;
    button {
      margin-top: 2em;
      background-color: var(--primary-color);
      color: var(--secondry-color);
      border: none;
      padding: 1vh;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    }

    button:hover {
      opacity: 0.8;
      cursor: pointer;
    }

    .WelcomeWord {
      display: flex;
      flex-direction: column;
      font-family: "Montserrat", Arial, sans-serif;
      font-size: 3rem;
      font-weight: bold;
      line-height: 1.2;
      color: #000;
      margin-bottom: 1rem;
    }

    p {
      line-height: 1.3em;
    }
    .span-1 {
      color: var(--primary-color);
    }
  }
  .welcome-image {
    flex: 1;
    width: 100%;
    align-content: center;
    img {
      height: 50%;
      width: 100%;
    }
  }
}
@media (max-width: 1024px) {
  .welcome-image {
    display: none;
  }
}
/* -------------------------------------------------------------------------------------------------------------------------------- */

.Services {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 5vh;

  .ServCard {
    height: 25vh;
    justify-content: center;
    border: 2px solid #00a7b5;
    box-shadow: 0 0 10px #089da1;
    padding: 1vh;
    margin: 1em;
    text-align: center;

    .icon {
      align-items: center;
      font-size: 3rem;
      margin-bottom: 1rem;
      color: var(--primary-color);
    }

    h2 {
      text-align: center;
      margin-bottom: 0.5rem;
    }

    p {
      text-align: center;
    }
  }

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    .ServCard {
      justify-items: center;
      align-content: center;

      .icon {
        font-size: 2rem;
      }

      h2 {
        font-size: medium;
      }

      p {
        font-size: small;
      }
    }
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
    justify-items: center;

    .ServCard {
      height: auto;

      justify-items: center;
      align-content: center;

      .icon {
        font-size: 1.5rem;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      h2 {
        font-size: small;
      }

      p {
        font-size: x-small;
      }
    }
  }
}
/* -------------------------------------------------------------------------------------------------------------------------------- */
.aboutSec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90vh;

  .aboutL {
    margin-left: 5rem;

    img {
      width: 100vh;
      height: 80vh;
    }
  }

  .aboutr {
    height: 100%;
    align-content: center;
    padding: 10vh;

    button {
      margin-top: 2em;
      background-color: var(--primary-color);
      color: var(--secondry-color);
      border: none;
      padding: 1vh;
      font-family: var(--fontFamily);
    }

    button:hover {
      opacity: 0.8;
      cursor: pointer;
    }

    h1 {
      font-family: var(--fontFamily);
      font-size: 3rem;
      font-weight: bold;
      line-height: 1.2;
      color: #000;
      margin-bottom: 1rem;
    }

    p {
      line-height: 1.3em;
    }
  }
}
@media only screen and (max-width: 1024px) {
  .aboutSec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40%;

    .aboutL {
      display: none;
      img {
        display: none;
      }
    }

    .aboutr {
      height: 100%;
      align-content: center;
      padding: 10vh;

      button {
        margin-top: 2em;
        background-color: var(--primary-color);
        color: white;
        border: none;
        padding: 1vh;
        font-family: var(--fontFamily);
      }

      button:hover {
        opacity: 0.8;
        cursor: pointer;
      }

      h1 {
        font-family: var(--fontFamily);
        font-size: 3rem;
        font-weight: bold;
        line-height: 1.2;
        color: #000;
        margin-bottom: 1rem;
      }

      p {
        line-height: 1.3em;
      }
    }
  }
}
@media (max-width: 480px) {
  .aboutSec {
    display: inline;
  }
  .aboutL {
    display: none;
    #aboutimg {
      width: 50vh;
      height: 40vh;
    }
  }
  .aboutr {
    h1 {
      text-align: center;
    }
  }
}
/* -------------------------------------------------------------------------------------------------------------------------------- */

.Featured_Books {
  display: flex;
  flex-direction: column;
  gap: 4vh;
  width: 100%;
  height: auto;

  .bookcards {
    display: flex;
    overflow-x: scroll;
    width: 100vw;
    height: auto;
    gap: 1vh;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid #ddd;
    border-radius: 10px;
    .Book_card {
      display: flex;
      flex-direction: column;
      min-width: 30vh;
      height: 60vh;

      @media screen and (max-width: 1024px) {
        height: 40vh;
      }

      @media screen and (max-width: 768px) {
        height: 45vh;
      }

      border: 1px solid gray;
      text-align: center;
      align-items: center;
      gap: 4vh;
      margin-bottom: 1vh;

      h4 {
        font-family: var(--fontFamily);
        font-weight: 600;
      }

      p {
        color: lightgrey;
      }

      .FeaturedBtn {
        border: 2px solid var(--primary-color);
        padding: 1vh;
        background-color: white;

        &:hover {
          cursor: pointer;
        }
      }

      img {
        object-fit: cover;
        flex: 1;
        width: 15vh;
        height: 30vh;
        transition: 0.8s;

        &:hover {
          transform: scale(1.06);
        }
      }

      .bookdetails {
        flex: 1;
      }
    }
  }
  .genres {
    color: var(--primary-color);
  }

  .price {
    color: var(--dark-primary-color);
  }

  .old-price {
    color: var(--dark-primary-color);
  }
}
/* -------------------------------------------------------------------------------------------------------------------------------- */

.arrivals {
  position: relative;
  margin-top: 30vh;
  width: 100%;
  height: auto;
  line-height: 3rem;
  margin-top: 10vh;

  h3 {
    text-align: center;
    font-size: xx-large;
    font-family: var(--fontFamily);
    font-weight: 600;

    @media screen and (max-width: 768px) {
      font-size: 1.5rem;
    }
  }

  i {
    color: var(--primary-color);
  }

  .arrival {
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 2fr);
    grid-gap: 5vh;

    @media screen and (max-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 480px) {
      grid-template-columns: 1/2fr;
      padding: 3rem;
      gap: 2vh;
    }

    .arrivalcard {
      height: auto;
      border: 1px solid rgb(176 176 176);
      padding-top: 4px;
      align-items: center;
      justify-content: center;

      img {
        position: relative;
        left: 15%;
        width: 70%;
        margin: 0px;
        align-items: center;
        object-fit: cover;
        transition: transform 0.8s;

        &:hover {
          transform: scale(1.06);
        }

        @media screen and (max-width: 768px) {
          width: 80%;
          left: 10%;
        }

        @media screen and (max-width: 480px) {
          width: 90%;
          left: 5%;
        }
      }

      .arrivaldetails {
        font-size: medium;
        text-align: center;
        line-height: 3vh;
        padding: 2px;

        @media screen and (max-width: 768px) {
          font-size: 0.9rem;
        }

        button {
          font-size: smaller;
          margin: 1vh 0vh;
          background-color: white;
          color: black;
          border: 3px solid var(--primary-color);
          padding: 3%;

          &:hover {
            cursor: pointer;
          }

          @media screen and (max-width: 768px) {
            font-size: 0.8rem;
            padding: 5px 8px;
          }

          @media screen and (max-width: 480px) {
            padding: 5px 6px;
          }
        }
      }
    }
  }
}
/* -------------------------------------------------------------------------------------------------------------------------------- */

.Reviews {
  padding: 2rem 6rem ;

  @media screen and (max-width: 1024px) {
    padding: 3rem;
  }
}

.Review-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3vh;

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  @media screen and (max-width: 480px) {
    grid-template-columns: 1fr;
  }
}

.Review-title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 1rem;
}

.Review-profile {
  display: grid;
  box-shadow: 0px 0px 7px var(--primary-color);
  position: relative;
  padding: 1rem;
  grid-template-rows: repeat(4, auto-fit);
}

.Review-profile::before {
  content: ",,";
  opacity: 0.3;
  position: absolute;
  font-size: 12em;
  top: -100px;
  right: 0;
}

.Review-profile img {
  width: 22%;
  border-radius: 50%;
}

.Review-profile p:nth-of-type(2) {
  margin-top: 0;
  font-size: 0.8em;
  text-align: justify;
}

.Review-profile p:first-of-type {
  font-weight: bold;
  font-size: 1.2em;
  margin: 1em 0;
}

.Review-profile .rates {
  margin-bottom: 1em;
}
